[submodule "ricing/vicyos-build-folder"]
	path = ricing/vicyos-build-folder
	url = git@github.com:felipendc/vicyos-build-folder
[submodule "ricing/ZenithDS"]
	path = ricing/ZenithDS
	url = git@github.com:ZenithDS/dotconfig
[submodule "ricing/eww-widgets"]
	path = ricing/eww-widgets
	url = git@github.com:saimoomedits/eww-widgets
[submodule "ricing/Gbox4-startup"]
	path = ricing/Gbox4-startup
	url = git@github.com:Gbox4/dotfiles
[submodule "ricing/polybar-powerline"]
	path = ricing/polybar-powerline
	url = git@github.com:danielnehrig/polybar-powerline
[submodule "ricing/polybar-themes"]
	path = ricing/polybar-themes
	url = git@github.com:adi1090x/polybar-themes
[submodule "ntangle.nvim"]
	path = ntangle.nvim
	url = git@github.com:jbyuki/ntangle.nvim
[submodule "instant.nvim"]
	path = instant.nvim
	url = git@github.com:jbyuki/instant.nvim
[submodule "shownotes"]
	path = shownotes
	url = git@github.com:gotbletu/shownotes
[submodule "zinit-configs"]
	path = zinit-configs
	url = git@github.com:zdharma-continuum/zinit-configs
[submodule "misc/terminaldweller-scripts"]
	path = misc/terminaldweller-scripts
	url = git@github.com:terminaldweller/scripts
[submodule "zsh-plugins/zsh-vi-mode"]
	path = zsh-plugins/zsh-vi-mode
	url = git@github.com:jeffreytse/zsh-vi-mode
[submodule "nvim-configs/0xsamrath-dotfiles"]
	path = nvim-configs/0xsamrath-dotfiles
	url = git@github.com:0xsamrath/.dotfiles
[submodule "nvim-configs/kyoto.nvim"]
	path = nvim-configs/kyoto.nvim
	url = git@github.com:0xsamrath/kyoto.nvim
[submodule "nvim-configs/catppuccin-theme"]
	path = nvim-configs/catppuccin-theme
	url = git@github.com:catppuccin/nvim
[submodule "nvim-configs/tokyonight.nvim"]
	path = nvim-configs/tokyonight.nvim
	url = git@github.com:folke/tokyonight.nvim
[submodule "nvim-configs/yoda-dotfiles"]
	path = nvim-configs/yoda-dotfiles
	url = git@github.com:YodaEmbedding/dotfiles
[submodule "i3scripts/dopamine"]
	path = i3scripts/dopamine
	url = git@github.com:EllaTheCat/dopamine-2020
[submodule "nvim-configs/ray-x"]
	path = nvim-configs/ray-x
	url = git@github.com:ray-x/nvim
[submodule "nvim-configs/nvim-dotfiles-kitty"]
	path = nvim-configs/nvim-dotfiles-kitty
	url = git@github.com:Nguyen-Hoang-Nam/nvim-dotfiles-kitty
[submodule "nvim-configs/bluz71"]
	path = nvim-configs/bluz71
	url = git@github.com:bluz71/dotfiles
[submodule "nvim-configs/LazyVim"]
	path = nvim-configs/LazyVim
	url = git@github.com:LazyVim/LazyVim
[submodule "noice.nvim"]
	path = noice.nvim
	url = git@github.com:folke/noice.nvim
[submodule "nvim-configs/cseickel"]
	path = nvim-configs/cseickel
	url = git@github.com:cseickel/dotfiles
[submodule "nvim-configs/rebelot"]
	path = nvim-configs/rebelot
	url = git@github.com:rebelot/dotfiles
[submodule "nvim-configs/Perigord-Nvim"]
	path = nvim-configs/Perigord-Nvim
	url = git@github.com:Trouble-Truffle/Perigord-Nvim
[submodule "nvim-configs/lazy-nvim-config"]
	path = nvim-configs/lazy-nvim-config
	url = git@github.com:ziontee113/lazy-nvim-config
[submodule "nvim-configs/ditsuke-dots"]
	path = nvim-configs/ditsuke-dots
	url = git@github.com:/ditsuke/dotfiles
[submodule "nvim-configs/JoseepAlviste"]
	path = nvim-configs/JoseepAlviste
	url = git@github.com:JoosepAlviste/dotfiles.git
[submodule "rofi-themes/Poetician"]
	path = rofi-themes/Poetician
	url = https://gitlab.com/Poetician/rofi.git
[submodule "rofi-themes/adi1090x"]
	path = rofi-themes/adi1090x
	url = git@github.com:adi1090x/rofi
[submodule "rofi-themes/newmanls"]
	path = rofi-themes/newmanls
	url = git@github.com:newmanls/rofi-themes-collection
[submodule "nvim-configs/vim-polyglot"]
	path = nvim-configs/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot
[submodule "nvim-configs/ofseed"]
	path = nvim-configs/ofseed
	url = git@github.com:ofseed/nvim
[submodule "nvim-configs/Cassin01"]
	path = nvim-configs/Cassin01
	url = git@github.com:Cassin01/nvim-conf
[submodule "nvim-configs/NvChad"]
	path = nvim-configs/NvChad
	url = git@github.com:/NvChad/NvChad
[submodule "nvim-configs/LunarVim"]
	path = nvim-configs/LunarVim
	url = git@github.com:/LunarVim/LunarVim
[submodule "nvim-configs/AstroNvim"]
	path = nvim-configs/AstroNvim
	url = git@github.com:/AstroNvim/AstroNvim
[submodule "nvim-configs/ryuheechul"]
	path = nvim-configs/ryuheechul
	url = git@github.com:ryuheechul/dotfiles
[submodule "nvim-configs/neovim-pde"]
	path = nvim-configs/neovim-pde
	url = git@github.com:alpha2phi/neovim-pde
[submodule "nvim-configs/alpha2phi"]
	path = nvim-configs/alpha2phi
	url = git@github.com:alpha2phi/dotfiles
[submodule "i3scripts/i3-parkinson"]
	path = i3scripts/i3-parkinson
	url = git@github.com:EllaTheCat/i3-parkinson
[submodule "nvim-configs/catgoose-nvim"]
	path = nvim-configs/catgoose-nvim
	url = git@github.com:/catgoose/nvim
[submodule "misc/ucollage"]
	path = misc/ucollage
	url = git@github.com:ckardaris/ucollage
[submodule "nvim-configs/chrisgrieser"]
	path = nvim-configs/chrisgrieser
	url = git@github.com:/chrisgrieser/.config
[submodule "nvim-configs/psyan3"]
	path = nvim-configs/psyan3
	url = git@github.com:pysan3/dotfiles
[submodule "nvim-configs/shadovim"]
	path = nvim-configs/shadovim
	url = git@github.com:Shadorain/shadovim
[submodule "nvim-configs/mfussenegger"]
	path = nvim-configs/mfussenegger
	url = git@github.com:mfussenegger/dotfiles
[submodule "nvim-configs/ecosse3"]
	path = nvim-configs/ecosse3
	url = git@github.com:ecosse3/nvim
[submodule "nvim-configs/mike325"]
	path = nvim-configs/mike325
	url = git@github.com:mike325/nvim
[submodule "nvim-configs/titan"]
	path = nvim-configs/titan
	url = git@github.com:skbolton/titan
[submodule "nvim-configs/sebasruiz09"]
	path = nvim-configs/sebasruiz09
	url = git@github.com:sebasruiz09/nvim
[submodule "nvim-configs/beauwilliams"]
	path = nvim-configs/beauwilliams
	url = git@github.com:beauwilliams/Dotfiles
[submodule "nvim-configs/awesome-neovim"]
	path = nvim-configs/awesome-neovim
	url = git@github.com:Ultra-Code/awesome-neovim
[submodule "docs/phelipetls-blog"]
	path = docs/phelipetls-blog
	url = git@github.com:phelipetls/blog
[submodule "nvim-configs/augustocdias"]
	path = nvim-configs/augustocdias
	url = git@github.com:augustocdias/dotfiles
[submodule "docs/awesome-neovim"]
	path = docs/awesome-neovim
	url = git@github.com:rockerBOO/awesome-neovim
[submodule "nvim-configs/yutkat"]
	path = nvim-configs/yutkat
	url = git@github.com:yutkat/dotfiles
[submodule "nvim-configs/oliver-configs"]
	path = nvim-configs/oliver-configs
	url = git@github.com:Oliver-Leete/Configs
[submodule "nvim-configs/mobily"]
	path = nvim-configs/mobily
	url = git@github.com:mobily/.nvim
[submodule "nvim-configs/matt-ftw"]
	path = nvim-configs/matt-ftw
	url = git@github.com:/Matt-FTW/dotfiles
[submodule "nvim-configs/mawkler"]
	path = nvim-configs/mawkler
	url = git@github.com:mawkler/nvim
[submodule "nvim-configs/vseodov"]
	path = nvim-configs/vseodov
	url = git@github.com:vsedov/nvim
