[submodule "ricing/vicyos-build-folder"]
	path = ricing/vicyos-build-folder
	url = https://github.com/felipendc/vicyos-build-folder
[submodule "ricing/ZenithDS"]
	path = ricing/ZenithDS
	url = https://github.com/ZenithDS/dotconfig
[submodule "ricing/eww-widgets"]
	path = ricing/eww-widgets
	url = https://github.com/saimoomedits/eww-widgets
[submodule "ricing/Gbox4-startup"]
	path = ricing/Gbox4-startup
	url = https://github.com/Gbox4/dotfiles
[submodule "ricing/polybar-powerline"]
	path = ricing/polybar-powerline
	url = https://github.com/danielnehrig/polybar-powerline
[submodule "ricing/polybar-themes"]
	path = ricing/polybar-themes
	url = https://github.com/adi1090x/polybar-themes
[submodule "ntangle.nvim"]
	path = ntangle.nvim
	url = https://github.com/jbyuki/ntangle.nvim
[submodule "instant.nvim"]
	path = instant.nvim
	url = https://github.com/jbyuki/instant.nvim
[submodule "shownotes"]
	path = shownotes
	url = https://github.com/gotbletu/shownotes
[submodule "zinit-configs"]
	path = zinit-configs
	url = https://github.com/zdharma-continuum/zinit-configs
